---
title: Le Wagon - Middleman
---
<div class="home">
  <div class="home-content">
    <!-- banner -->
    <%= partial "layouts/banner" %>
    <%= partial "layouts/cards" %>
    <!-- grid -->
  </div>
</div>
